/* 为8个页面分别设置背景色 */
/* 第一屏动画样式开始 */
.item1{
    background: #fadd67 url('../image/pic_01.png') no-repeat center bottom;
}
.fly{
    position: absolute;
    top: 10%;
    right: 20%;
}
/* 为上类名为fly的图片设置动画开始 */
.updown{
    /* linear表示匀速运动 */
    /* infinite表示不限制动画的次数 */
    animation: fly 3s linear infinite;
}
@keyframes fly{
    0%{
        top: 10%;
    }
    50%{
        top: 20%;
    }
    100%{
        top: 10%;
    }
}
/* 为上类名为fly的图片设置动画结束 */

/* 为类名为shirt01的元素设置动画开始 */
.shirt01{
    position: absolute;
    top: 21%;
    left: 35%;
}
.shirt01-updown{
    animation: shirt01 1.5s linear infinite;
}
@keyframes shirt01{
    50%{
        top: 25%;
    }
    100%{
        top: 21%;
    }
}

.goods{
    position: absolute;
    top: 32%;
    left: 20%;
}
/* 第一屏动画样式结束 */

/* 第二屏动画样式开始 */
.item2{
    background: #84a2d4 url('../image/pic_02.png') no-repeat center bottom;
    z-index: 5;
}
.computer{
    position: absolute; 
    width: 990px;
    height:500px;
    left: 50%;
    transform: translateX(-50%);    /* 向左平移自身宽度的50% */
    bottom: 0;
}
.search{
    width: 222px;
    height: 45px;
    background: url('../image/search.png') no-repeat;
    position: absolute;
    right: -30px;
    bottom: 300px;
    display: none;
}
.search-words{
    position: absolute;
    right: 30px;
    top: 2px;
    opacity: 0;
}
.search-02-1{
    position: absolute;
    bottom: 300px;
    right: 380px;
    display: none;
}
.goods-01-1{
    width: 200px;
    position: absolute;
    right: 270px;
    bottom: 210px;
    display: none;
}
.words-01, .words-02{
    position: absolute;
    bottom: 540px;
    left: 50%;
    transform: translateX(-50%);
}
.words-02{
    opacity: 0;
}
.shirt-02-1{
    position: absolute;
    bottom: 340px;
    left: 385px;
    width: 107px;
    display: none;
}
.cover{
    position: absolute;
    left: 384px;
    bottom: 325px;
    background: #fff;
    width: 108px; 
    height: 105px;
    z-index: 3;
    display: none;
}
/* 第二屏动画样式结束 */

/* 第三屏动画样式开始 */
.item3{
    background: #ef674d;
    z-index: 3;
}
.main{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 480px;
    background: url('../image/main.png') no-repeat center center;
}
.select{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 310px;
    height: 250px;

}
.img-01{
    position: absolute;
    top: 0;
}
.img-01-a{
    opacity: 0;
}
.btn-01{
    position: absolute;
    bottom: 15px;
}
.btn-01-a{
    opacity: 0;
}
.shirt-02, 
.t1f{
    position: absolute;
    bottom: 180px;
    left: 114px;
    display: none;
    z-index: 10;
}
/* 第三屏动画样式结束 */

/* 第四屏动画样式开始 */
.item4{
    background: #fed url('../image/pic_04.png') no-repeat center bottom;
}
.cloud{
    position: absolute;
    left: 50%;
    bottom: 500px;
}
.cloud-back1{
    animation: cloud 60s linear infinite;
}
/*定义云彩运动的动画*/
@keyframes cloud{
    50%{
        left: 10%;
    }
    100%{
        left: 50%;
    }
}
.words-04{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 500px;
}
.words-04-a{
    opacity: 0;
}
.car{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
}
.car-img{
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.note{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 170px;
    opacity: 0;
}
.info{
    position: absolute;
    bottom: 165px;
    left: 55px;
}
/* 第四屏动画样式结束 */

/* 第五屏动画样式开始 */
.item5{
    background: #d04759 url('../image/pic_05.png');
    overflow: hidden;
}
.words-05{
    position: absolute;
    left: 20%;
    bottom: 560px;
}
.words-05-a{
    animation: word5 1s linear;
}
@keyframes word5{
    100%{
        transform: rotateY(360deg);
    }
}
.card-05{
    position: absolute;
    left: 20%;
    bottom: 180px;
    z-index: 5;
}
.order-05{
    position: absolute;
    left: 33%;
    bottom: 260px;
}
.t1f-05{
    position: absolute;
    left: 25%;
    bottom: 600px;
}
.mouse-05{
    position: absolute;
    left: 73%;
    bottom: 200px;
}
.mouse-05-a{
    opacity: 0;
}
.hand-05{
    position: absolute;
    left: 71%;
    bottom: -100px;
}
/* 第五屏动画样式结束 */

/* 第六屏动画样式开始 */
.item6{
    background: #84d9ed url('../image/pic_06.png') no-repeat 25% 100%; 
}
/* 第六屏动画样式结束 */

/* 第七屏动画样式开始 */
.item7{
    background: #8ac060 url('../image/pic_07.png') no-repeat 50% 100%;
}
/* 第七屏动画样式结束 */

/* 第八屏动画样式开始 */
.item8{
    background: url('../image/pic_08.png');
}
/* 第八屏动画样式结束 */

/* 右侧导航小圆点设置样式 */
/* !important可设置样式显示的权重，即权重最高 */
#fp-nav ul li a span{
    background: rgb(20, 55, 252)!important;
}

/* 设置右上角的购物中心图标 */
.go{
    z-index: 2;
    position: fixed;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;
    top: 5%;
    right: 5%;
}
.go:hover{
    border: 1px solid rgb(219, 185, 185);
}